<hr>
<input id="sync-from-files" type="submit" value="Get tracks from files">
<hr>
<input id="import-text" type="text" placeholder="enter a soundcloud link">
<input id="import" type="submit" value="Import">
<hr>
